@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://code.getmdl.io/1.3.0/material.indigo-blue.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: "Roboto";
  }

  .mdl-layout {
    align-items: center;
    justify-content: center;
  }
  
  .mdl-layout__content {
    padding: 24px;
    flex: none;
  }
  
  #loginform {
    margin-bottom: 0px;
    padding: 0px;
  }


  .logo {
    max-height: inherit;
    max-width: 100%;
    align-content: center;
  }